:root {
    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-weight: 400;
    --font-size: 16px;
    --spacing: 1rem;
    --typography-spacing-vertical: 1.5rem;
}

:where(:root) {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: var(--background-color);
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family);
    overflow-wrap: break-word;
    cursor: default;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    color-scheme: light;
    --background-color: #5b8091;
    --muted-background-color: #264653;
    --color: #eee;
    --muted-color: #ccc;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        color-scheme: dark;
        --background-color: #4f6f7d;
        --muted-background-color: #264653;
        --color: #000;
        --muted-color: #222;
    }
}

[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #4f6f7d;
    --muted-background-color: #264653;
    --color: #000;
    --muted-color: #222;
}

@media (prefers-reduced-motion: no-preference) {
    .scroll-container {
        scroll-behavior: smooth;
    }
}

html,
body {
    height: 100%;
}
