{% extends "base.html" %}
{% block title %}
    {{ AUTHOR }} | {{ TAGLINE }}
{% endblock title %}
{% block head %}
{{ super() }}
<style>
    {% filter cssmin %}
    {%- include "static/css/default.css" -%}
    {%- include "static/css/main.css" -%}
    {% endfilter %}
</style>
{% endblock head %}
{% block content %}
    <section class="hero" aria-labelledby="intro-title">
        <h1 id="intro-title">Hi! I'm {{ FIRSTNAME }}</h1>
        <p>{{ TAGLINE }}</p>
        {% include "social.html" %}
    </section>
    {% if github_projects %}
    {% include "repositories.html" %}
    {% endif %}
{% endblock content %}
