{% extends "base.html" %}
{% block title %}
    {{ AUTHOR }} | {{ HERO_TITLE }}
{% endblock title %}
{% block head %}
{{ super() }}
<style>
    {% filter cssmin %}
    {%- include "static/css/default.css" -%}
    {%- include "static/css/main.css" -%}
    {% endfilter %}
</style>
{% endblock head %}
{% block content %}
    <section class="hero" id="contact">
        <h1>{{ HERO_TITLE }}</h1>
        <p>{{ TAGLINE }}</p>
        {% include "social.html" %}
    </section>
    {% if github_projects %}
    <section class="projects" id="projects">
        <h2>Projects</h2>
        {% include "repositories.html" %}
    </section>
    {% endif %}
{% endblock content %}
